---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
      </header>

      <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
        <div id="sidebar-desktop-ads">
          <script id="mNCC" language="javascript">
            medianet_width = "160";
            medianet_height = "600";
            medianet_crid = "367032336";
            medianet_versionId = "3111299"; 
          </script>
          <script src="//contextual.media.net/nmedianet.js?cid=8CU4WBM36"></script>
        </div>

        <div id="sidebar-mobile-ads">
          <script id="mNCC" language="javascript">
              medianet_width = "728";
              medianet_height = "90";
              medianet_crid = "437647987";
              medianet_versionId = "3111299"; 
            </script>
          <script src="//contextual.media.net/nmedianet.js?cid=8CU4WBM36"></script>
        </div>

      </div>

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>
